*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    background-color: darkgray;
    padding: 10px;
}
nav{
    display:flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
.logo{
    font-size: 2.5rem;
    color: orange;
    margin-left: 50px ;
}
.nav-list{ 
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.nav-list li{
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    color: white;
}
section{
    padding:5rem 0;
}
.box{
    padding: 1rem;
}
h2{
    color:orange;
    margin-left: 1rem;
    font-size: 2rem;
}
.flex{
    display: flex;
    align-items: center;
}
/* звезда что бы все блоки вязись вместе и картинка и текст */
.flex > *{
    margin-left:1rem;
}